name=TFLink
organism=Saccharomyces cerevisiae
version=v1.0
license=TFLink is freely available for non-commercial use.
source_columns=0,1
target_columns=2,3
source_id_column=0
source_type=gene
source_bridgedb=bridgedb/sce.bridge
source_label_column=1
source_syscode_in=L
source_syscodes_out=En,L
target_id_column=2
target_type=gene
target_bridgedb=bridgedb/sce.bridge
target_syscode_in=L
target_syscodes_out=En,L
target_label_column=3
edge_columns=4,5
interaction_type=TF-target gene
