name=WikiPathways pathway-gene network
organism=Homo sapiens
version=WikiPathways_20251110
source_columns=0,1,2
target_columns=3,4
edge_columns=5,6
interaction_type=Pathway-gene
source_id_column=1
source_type=pathway
source_label_column=0
target_id_column=3
target_type=gene
target_bridgedb=bridgedb/Hs_Derby_Ensembl_111.bridge
target_syscode_in=L
target_syscodes_out=En,H,L,S
target_label_column=4
