name=WikiPathways pathway-gene network
organism=Homo sapiens
version=WikiPathways_20251110
source_columns=0,2
target_columns=4,5
edge_columns=1,3
interaction_type=Pathway-gene
source_id_column=2
source_type=pathway
source_label_column=0
target_id_column=4
target_type=gene
target_bridgedb=Hs_Derby_Ensembl_111.bridge
target_syscode_in=L
target_syscodes_out=En,H,L,S
target_label_column=5
