name=GO biological process gene annotations
organism=Homo sapiens
version=20260601
source_columns=0,1
target_columns=2,3
edge_columns=4,5,6,7
interaction_type=GO biological process annotation
source_id_column=0
source_type=GO term
source_label_column=1
target_id_column=2
target_type=gene
target_bridgedb=bridgedb/hsa.bridge
target_syscode_in=L
target_syscodes_out=En,H,L,S
target_label_column=3
