name=Rare diseases and genes from Orphanet linkset Version July2026
organism=homo sapiens
version=July2026
target_columns=0,1,4,6,7,8,9,10,11,12
source_columns=2
edge_columns=5
interaction_type=rare disease-genes
target_id_column=0
target_type=rare disease
target_label_column=1
source_id_column=2
source_type=gene
source_bridgedb=bridgedb/hsa.bridge
source_syscode_in=H
source_syscodes_out=L,En,H,S
source_label_column=2
